@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n53m6i');
  src:  url('fonts/icomoon.eot?n53m6i#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n53m6i') format('truetype'),
    url('fonts/icomoon.woff?n53m6i') format('woff'),
    url('fonts/icomoon.svg?n53m6i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rss-circle:before {
  content: "\e930";
}
.icon-bluesky:before {
  content: "\e92f";
}
.icon-addmore:before {
  content: "\e92c";
}
.icon-loadmore:before {
  content: "\e92c";
}
.icon-bilbilitext:before {
  content: "\e925";
}
.icon-bilibili:before {
  content: "\e927";
}
.icon-sun:before {
  content: "\e92e";
}
.icon-moon:before {
  content: "\e92d";
}
.icon-alert:before {
  content: "\f02d";
}
.icon-stop:before {
  content: "\f08f";
}
.icon-checkmark:before {
  content: "\e60d";
}
.icon-checkmark-circle:before {
  content: "\e634";
}
.icon-cancel-circle:before {
  content: "\e629";
}
.icon-close:before {
  content: "\e60c";
}
.icon-info1:before {
  content: "\e92b";
}
.icon-help:before {
  content: "\e92a";
}
.icon-notification:before {
  content: "\e625";
}
.icon-info:before {
  content: "\e627";
}
.icon-info2:before {
  content: "\e60a";
}
.icon-question:before {
  content: "\e626";
}
.icon-info-with-circle:before {
  content: "\e929";
}
.icon-help-with-circle:before {
  content: "\e928";
}
.icon-blocked:before {
  content: "\e628";
}
.icon-spam:before {
  content: "\e60b";
}
.icon-warning:before {
  content: "\e618";
}
.icon-mail2:before {
  content: "\e62a";
}
.icon-x:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-x-square:before {
  content: "\e90c";
}
.icon-twitter-square:before {
  content: "\e90c";
}
.icon-x-circle:before {
  content: "\e90d";
}
.icon-twitter-circle:before {
  content: "\e90d";
}
.icon-facebook-circle:before {
  content: "\e90e";
}
.icon-facebook-square:before {
  content: "\e910";
}
.icon-threads-circle:before {
  content: "\e90f";
}
.icon-threads:before {
  content: "\e911";
}
.icon-threads-square:before {
  content: "\e922";
}
.icon-nvidia:before {
  content: "\e62d";
}
.icon-nvidiatext:before {
  content: "\e633";
}
.icon-amd:before {
  content: "\e62b";
}
.icon-amdtext:before {
  content: "\e631";
}
.icon-intel:before {
  content: "\e924";
}
.icon-inteltext:before {
  content: "\e904";
}
.icon-intelsmall:before {
  content: "\e923";
}
.icon-youtube:before {
  content: "\e903";
}
.icon-brand:before {
  content: "\e903";
}
.icon-social:before {
  content: "\e903";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-vclogo:before {
  content: "\e62c";
}
.icon-discord:before {
  content: "\e900";
}
.icon-discord2:before {
  content: "\e902";
}
.icon-reddit-circle:before {
  content: "\e908";
}
.icon-reddit-square:before {
  content: "\e909";
}
.icon-steam-square:before {
  content: "\eaad";
}
.icon-steam:before {
  content: "\e61d";
}
.icon-arrow-right:before {
  content: "\e638";
}
.icon-chevron-down:before {
  content: "\e912";
}
.icon-chevron-left:before {
  content: "\e913";
}
.icon-chevron-right1:before {
  content: "\e914";
}
.icon-chevron-thin-down:before {
  content: "\e915";
}
.icon-chevron-thin-left:before {
  content: "\e916";
}
.icon-chevron-thin-right:before {
  content: "\e917";
}
.icon-chevron-thin-up:before {
  content: "\e918";
}
.icon-chevron-up:before {
  content: "\e919";
}
.icon-triangle-down:before {
  content: "\e91d";
}
.icon-triangle-left:before {
  content: "\e91e";
}
.icon-triangle-right:before {
  content: "\e91f";
}
.icon-triangle-up:before {
  content: "\e920";
}
.icon-uniE639:before {
  content: "\e639";
}
.icon-dot-single:before {
  content: "\e91a";
}
.icon-dots-three-horizontal:before {
  content: "\e91b";
}
.icon-dots-two-horizontal:before {
  content: "\e91c";
}
.icon-switch:before {
  content: "\e921";
}
.icon-mail-circle:before {
  content: "\e907";
}
.icon-mail2-circle:before {
  content: "\e90a";
}
.icon-mail-square:before {
  content: "\e90b";
}
.icon-rss:before {
  content: "\e611";
}
.icon-feed:before {
  content: "\e611";
}
.icon-rss-square:before {
  content: "\ea9c";
}
.icon-feed-square:before {
  content: "\ea9c";
}
.icon-envelope:before {
  content: "\e926";
}
.icon-letter:before {
  content: "\e926";
}
.icon-email:before {
  content: "\e926";
}
.icon-mail:before {
  content: "\e926";
}
.icon-chevron-right:before {
  content: "\f078";
}
.icon-calendar:before {
  content: "\e636";
}
.icon-calendar3:before {
  content: "\e609";
}
.icon-clock:before {
  content: "\e905";
}
.icon-time:before {
  content: "\e905";
}
.icon-schedule:before {
  content: "\e905";
}
.icon-clock1:before {
  content: "\e906";
}
.icon-time1:before {
  content: "\e906";
}
.icon-schedule1:before {
  content: "\e906";
}
.icon-comment-discussion:before {
  content: "\f04f";
}
.icon-codepen:before {
  content: "\eae8";
}
.icon-copyright:before {
  content: "\e63a";
}
.icon-download:before {
  content: "\e960";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-grid2:before {
  content: "\e61c";
}
.icon-meter2:before {
  content: "\e616";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-comment:before {
  content: "\f02b";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-search:before {
  content: "\e986";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-telegram:before {
  content: "\ea95";
}
